name = "mission-control"
pages_build_output_dir = "."
compatibility_date = "2026-07-31"
send_metrics = false

[[d1_databases]]
binding = "DB"
database_name = "mission-control-db"
database_id = "REPLACE_WITH_DATABASE_ID"
